<a href="https://colab.research.google.com/github/RakshanReddy/RakshanReddy/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate()

In [8]:
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]

In [9]:
rdd=spark.sparkContext.parallelize(dataList)

In [11]:
rdd.count()

3

In [12]:
rdd.collect()

[('Java', 20000), ('Python', 100000), ('Scala', 3000)]

In [13]:
rdd.first()

('Java', 20000)

In [15]:
rdd.max()

('Scala', 3000)

In [16]:
rdd.min()

('Java', 20000)

In [21]:
rdd=spark.sparkContext.parallelize([1.0,5.0,8.0])
rdd.max()

8.0

In [22]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [23]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [24]:

columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [26]:

rdd = spark.sparkContext.parallelize(data)

In [27]:

dfFromRDD1 = rdd.toDF()

In [28]:
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [29]:
columns = ["language","users_count"]

In [32]:
dfFromRDD1 = rdd.toDF(columns)

In [33]:
dfFromRDD1.printSchema()

root
 |-- language: string (nullable = true)
 |-- users_count: string (nullable = true)

In [34]:
dfFromRDD1.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+